{% extends 'layouts.html' %}
{% load static %}
{% block title %}
  Pet Adoption
{% endblock %}
{% block content %}
<div class="padding adoption-bg">
  <div class="container-fluid product-class">
    <h1>{{ object.name }}</h1>
  </div>

  <div class="container my-5">

    <div class="row">
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct card-adoption">
          <div class="img-wrap img-wrap-adoption" >
            <img src="/media/{{ object.mainimage1 }}" >
          </div>

        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct card-adoption">
          <div class="img-wrap img-wrap-adoption" >
            <img src="/media/{{ object.mainimage2 }}" >
          </div>

        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct card-adoption">
          <div class="img-wrap img-wrap-adoption" >
            <img src="/media/{{ object.mainimage3 }}" >
          </div>

        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct card-adoption">
          <div class="img-wrap img-wrap-adoption" >
            <img src="/media/{{ object.mainimage4 }}" >
          </div>

        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct card-adoption">
          <div class="img-wrap img-wrap-adoption" >
            <img src="/media/{{ object.mainimage5 }}" >
          </div>

        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct card-adoption">
          <div class="img-wrap img-wrap-adoption" >
            <img src="/media/{{ object.mainimage6 }}" >
          </div>

        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct card-adoption">
          <div class="img-wrap img-wrap-adoption" >
            <img src="/media/{{ object.mainimage7 }}" >
          </div>

        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct card-adoption">
          <div class="img-wrap img-wrap-adoption" >
            <img src="/media/{{ object.mainimage8 }}" >
          </div>

        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct card-adoption">
          <div class="img-wrap img-wrap-adoption" >
            <img src="/media/{{ object.mainimage9 }}" >
          </div>

        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct card-adoption">
          <div class="img-wrap img-wrap-adoption" >
            <img src="/media/{{ object.mainimage10 }}" >
          </div>

        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct card-adoption">
          <div class="img-wrap img-wrap-adoption" >
            <img src="/media/{{ object.mainimage11}}" >
          </div>

        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct card-adoption">
          <div class="img-wrap img-wrap-adoption" >
            <img src="/media/{{ object.mainimage12 }}" >
          </div>

        <figure>
      </div>


      </div>

    </div>


 </div>
{% endblock %}
