{% extends 'layouts.html' %}
{% block title %}
Pet Adoption
{% endblock %}
{% block content %}
<div class="product adoption-bg">
  <div class="container-fluid product-class">
    <h1>Pet Adoption</h1>
  </div>

  <div class="container my-5">

    <div class="row">
      {% for adoption in object_list %}
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct card-adoption">
          <div class="img-wrap">
            <a href="{% url 'Adoption:adoption_details' pk=adoption.pk %}"> <img src="/media/{{adoption.mainimage1}}"></a>
          </div>
          <figcaption class="info-wrap-adoption">
            <h6 class="title"><a href="{% url 'Adoption:adoption_details' pk=adoption.pk %}">{{adoption.name}}</a></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
       {% endfor %}
    </div>

  </div>
</div>

{% endblock %}
