{% extends 'layouts.html' %}
{% load static %}
{% block title %}
  Pet Adoption
{% endblock %}
{% block content %}
<div class="padding">
  <div class="container-fluid product-class">
    <h1>{{ object.name }}</h1>
  </div>

  <div class="container my-5">

    <div class="row">
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="/media/{{ object.mainimage1 }}" >
          </div>
          <figcaption class="info-wrap">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="/media/{{ object.mainimage2 }}" >
          </div>
          <figcaption class="info-wrap">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="/media/{{ object.mainimage3 }}" >
          </div>
          <figcaption class="info-wrap">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="/media/{{ object.mainimage4 }}" >
          </div>
          <figcaption class="info-wrap">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="/media/{{ object.mainimage5 }}" >
          </div>
          <figcaption class="info-wrap">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="/media/{{ object.mainimage6 }}" >
          </div>
          <figcaption class="info-wrap">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="/media/{{ object.mainimage7 }}" >
          </div>
          <figcaption class="info-wrap">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="/media/{{ object.mainimage8 }}" >
          </div>
          <figcaption class="info-wrap">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="/media/{{ object.mainimage9 }}" >
          </div>
          <figcaption class="info-wrap">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="/media/{{ object.mainimage10 }}" >
          </div>
          <figcaption class="info-wrap">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="/media/{{ object.mainimage11}}" >
          </div>
          <figcaption class="info-wrap">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="/media/{{ object.mainimage12 }}" >
          </div>
          <figcaption class="info-wrap">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>


      </div>

    </div>


 </div>
{% endblock %}
