#header.header-transparent {
  background: #000000;
}
.modal1{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: black;
  width: 500px;
  max-width: 80%;
}
.modal1.active{
  transform: translate(-50%, -50%) scale(1);
}
.modal-header1{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.modal-header1 .title{
  color: white;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 200%;
  font-weight: bold;
}
.modal-header1 .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.75rem;
  font-weight: bold;
  color: white;
}
.modal-body{
  padding: 10px 15px;
  font-size: 150%;
  color: white;
}
.modal-body .call{
  font-size: 100%;
  font-weight: bold;
  color: white;
}
#overlay{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}
#overlay.active{
  opacity: 1;
  pointer-events: all;
}
.modal2{
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: black;
  width: 100%;
  max-width: 100%;
  display: none;
}
.modal2.active{
  transform: translate(-50%, -50%) scale(1);
}
.modal-header2{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.modal-header2 .title2{
  color: white;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 150%;
  font-weight: bold;
  margin-left: 40%;
}
#overlay2{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}
#overlay2.active{
  opacity: 1;
  pointer-events: all;
}
#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
  top: 20px;
}
.carousel-indicators .active {
    width: 4%;
    height: 4px;
}
#hero h3 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 400;
}
#hero h1 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 800;
}
#hero h4 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 70px;
    font-weight: 300;
}
#hero p{
  font-size: 30px;
  width: 100%;
}
.funeral h1{
  color: black;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 500;
}
.funeral p{
  font-size: 18px;
  color: grey;
}
#testimonials .testimonial-item {
    margin-bottom: 1%;
}
#services {
    padding: 60px 0 0px 0;
}
#services .title {
    font-size: 100%;
    color: black;
    margin-left:0;
}
#service .title {
    font-size: 100%;
    color: black;
    margin-left: 0;
    font-weight: 700;
    margin-bottom: 15px;

}
.btn-1 {
    margin-left: 50%;
    font-size: 120%;
}
.bcontact{
  margin-left: 45%;
}
.button a{
  color: white;
}
/* Pet Adoption */
.product{
  border:1px solid #ccc;
  padding:4% 0 0;
}
.product-class{
  padding:3% 0 0%;
  background-color:rgba(240, 242, 245, 1);
  text-align:center;

}
.product-class h1{
  font-family: 'Lilita One', cursive;
  font-size:250%;
  color: black;
}
.shipping h4{
  background-color:black;
  color:#fff;
  text-align:center;
}
.card{
  height: 0%;
  width: 100%;
}
.card-adoption{
  background-color:black;
}
.card-product:after{
  content: "";
  display: table;
  clear: both;
  visibility: hidden;
}
.card-product .price-new, .card-product .price{

  margin-right: 5px;
}
.card-product .img-wrap{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 150px;
  text-align: center;

}
.card-prduct .img-wrap img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  background-color:rgba(240, 242, 245, 1);
  width:100%;
  border-radius: 4%;
}
.card-prduct .img-wrap-adoption img{
  margin-bottom:10%;
}
.card-prduct .info-wrap{
  overflow: hidden;
  border-top: 1px solid #eee;
  padding: 2% 0 15%;
  background-color: white;
}
.card-prduct .info-wrap-adoption {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding: 2% 0 20%;
    background-color: rgba(240, 242, 245, 1);
    border-radius: 30%;
}
.card-prduct a {
    font-size: 100%;
    color: black;
    font-weight: 800;
}
.card-product .action-wrap{
  padding-top: 4px;
  margin-top: 4px;
}
.card-prduct .bottom-wrap{
  padding: 15px;
  border-top: 1px solid #eee;
}
.card-prduct .title{
  margin-top: 0px;
  text-align: center;
  font-family: 'Hind Madurai', sans-serif;
  font-size:20px;
}
.price-wrap{
  text-align: center;
  font-family: 'Hind Madurai', sans-serif;
  color: black;

}
.card-prduct .info-wrap2{
  padding: 2% 0 8%;
}


/* Login and Signup Page */
.line{
  border:1px solid #ccc;
    padding-top:67px;
}
.login_bottom{
  width:45%;

  border:1px solid #ccc;
  padding:40px;
}
.login_top{
  width:45%;
  border:1px solid #ccc;
  padding-top:50px;
  padding-bottom:50px;
}
.padding{
  padding-top:50px;
  padding-bottom:50px;
}
.adoption-bg{
  background-color: black;
}
@media screen and (max-width: 550px){
  .modal-header1 .title{
    font-size: 150%;
  }
  .modal-body{
    font-size: 100%;
  }
  .model2{
    display: flex;
  }
  #hero{
    height:50vh;
  }
  #hero h2 {
    font-size: 17px;
  }
  #hero h3 {
    font-size: 22px;
  }
  #hero h1 {
    font-size: 28px;
  }
  #hero h4{
    font-size: 40px;
  }
  #hero p {
    font-size: 14px;
  }
  .funeral h1{
    font-size: 30px;
  }
  .funeral p{
    font-size: 16px;
  }
  .btn-1 {
      margin-left: 40%;
  }
  .bcontact{
    margin-left: 35%;
  }
  .card-prduct .info-wrap{
    padding: 2% 0 36%;
  }
  .card-prduct .info-wrap-adoption {
      padding: 2% 0 30%;
  }
  .card-prduct a {
    font-size: 80%;

  }
  .product {
    padding: 18% 0 0;
  }
  .padding {
    padding-top: 70px;
  }
  .line{
  border:1px solid #ccc;
    padding-top:56px;
  }
  .login_bottom{
    width:90%;

    border:1px solid #ccc;
    padding:40px;
  }
  .login_top{
    width:90%;
    border:1px solid #ccc;
    padding-top:50px;
    padding-bottom:50px;
  }
}
