{% extends 'layouts.html' %}
{% load static %}
{% block title %}
About Us
{% endblock %}
{% block content %}
<div class="padding">
  <section id="about">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>About Us</h3>
        <p>FamilyDog is a project started by Prince Gulati, as a Delhi Technological University student in his 6th semester. The project grabbed his attention due to his immense love for his dog Rio and the lack of information available in society.  FamilyDog has served well its clients including some famous personalities for more than three until Prince decided to upgrade his management knowledge and went to Europe for his further education. During his time in Europe, he saw a different kind of pet sector with a different level of breeding, an inclination of pet owners towards organic food for pets, and equal importance. He met various breeders, understood various processes, and explored amazing natural products. He had to come back to India in June 2020 via Vande Bharat Mission from Stockholm, Sweden where he was working as a Business Analyst. Putting everything together and taking it further, FamilyDog 2021 is reborn.  </p>
      </header>

      <div class="row about-cols">

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="about-col">
            <div class="img">
              <img src="{% static 'img/about-mission.jpg'%}" alt="" class="img-fluid">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Mission</a></h2>
            <p>
              To provide dignified funeral services, Organic products, and reduce the mortality rate of puppies.
            </p>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="about-col">
            <div class="img">
              <img src="{% static 'img/about-plan.jpg'%}" alt="" class="img-fluid">
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Plan</a></h2>
            <p>
              To work with ethical breeders, source organic ingredients from the world, and deliver end-2-end pet funeral solutions.

          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
          <div class="about-col">
            <div class="img">
              <img src="{% static 'img/about-vision.jpg'%}" alt="" class="img-fluid">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Vision</a></h2>
            <p>
              Our vision thrives to add value to society and give our amazing pets the best of products and services they deserve.

            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End About Us Section -->
  <!-- ======= Team Section ======= -->
  <section id="team">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3>Team</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'img/team-1.jpg'%}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static 'img/team-2.jpg'%}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <img src="{% static 'img/team-3.jpg'%}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <img src="{% static 'img/team-4.jpg'%}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->
  


</div>
{% endblock %}
