{% extends 'layouts.html' %}
{% load static %}
{% block title %}
Contact Us
{% endblock %}
{% block content %}
<section id="contact" class="section-bg">
  <div class="container padding" data-aos="fade-up">

    <div class="section-header">
      <h3>Contact Us</h3>

    </div>

    <div class="row contact-info">

      <div class="col-md-4">
        <div class="contact-address">
          <i class="bi bi-geo-alt"></i>
          <h3>Address</h3>
          <address>{{ contactlist.address }}</address>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-phone">
          <i class="bi bi-phone"></i>
          <h3>Phone Number</h3>
          <p><a href="tel:+919711725747">{{ contactlist.phone }}</a></p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-email">
          <i class="bi bi-envelope"></i>
          <h3>Email</h3>
          <p><a href="mailto:familydog.petsitting@gmail.com">{{ contactlist.email }}</a></p>
        </div>
      </div>

    </div>

    <div class="form" >
      <form action="" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="form-group col-md-6">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div><br>
          <div class="form-group col-md-6">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div><br>
        </div><br>
        <div class="form-group">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div><br>
        <div class="form-group">
          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div><br>
        <div class="button"><button class="btn btn-success bcontact" type="submit">Send Message</button></div>
      </form>
    </div>

  </div>
</section><!-- End Contact Section -->
{% endblock %}
