{% extends 'layouts.html' %}
{% load static %}
{% block title %}
Services
{% endblock %}
{% block content %}
<div class="padding">
  <!-- ======= Services Section ======= -->
  <section id="services">
    <div class="container" data-aos="fade-up">

      <header class="section-header wow fadeInUp">
        <h3>Our Gallery</h3>
        
      </header>
      <div class="container my-5">

        <div class="row">
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/portfolio/101.jpg'%}" class="img-fluid" alt="">

              </div>
              <figcaption class="info-wrap1">
                <h6 class="title"></h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/portfolio/102.jpg'%}" class="img-fluid" alt="">

              </div>
              <figcaption class="info-wrap1">
                <h6 class="title"></h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/portfolio/103.jpg'%}" class="img-fluid" alt="">

              </div>
              <figcaption class="info-wrap1">
                <h6 class="title"></h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/portfolio/104.jpg'%}" class="img-fluid" alt="">

              </div>
              <figcaption class="info-wrap1">
                <h6 class="title"></h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/portfolio/105.jpg'%}" class="img-fluid" alt="">

              </div>
              <figcaption class="info-wrap1">
                <h6 class="title"></h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/portfolio/106.jpg'%}" class="img-fluid" alt="">

              </div>
              <figcaption class="info-wrap1">
                <h6 class="title"></h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/portfolio/107.jpg'%}" class="img-fluid" alt="">

              </div>
              <figcaption class="info-wrap1">
                <h6 class="title"></h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/portfolio/108.jpg'%}" class="img-fluid" alt="">

              </div>
              <figcaption class="info-wrap1">
                <h6 class="title"></h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/portfolio/9.jpeg'%}" class="img-fluid" alt="">

              </div>
              <figcaption class="info-wrap1">
                <h6 class="title"></h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/portfolio/10.jpeg'%}" class="img-fluid" alt="">

              </div>
              <figcaption class="info-wrap1">
                <h6 class="title"></h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/portfolio/11.jpeg'%}" class="img-fluid" alt="">

              </div>
              <figcaption class="info-wrap1">
                <h6 class="title"></h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/portfolio/12.jpeg'%}" class="img-fluid" alt="">

              </div>
              <figcaption class="info-wrap1">
                <h6 class="title"></h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/portfolio/113.jpg'%}" class="img-fluid" alt="">

              </div>
              <figcaption class="info-wrap1">
                <h6 class="title"></h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/portfolio/114.jpg'%}" class="img-fluid" alt="">

              </div>
              <figcaption class="info-wrap1">
                <h6 class="title"></h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/portfolio/115.jpg'%}" class="img-fluid" alt="">

              </div>
              <figcaption class="info-wrap1">
                <h6 class="title"></h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/portfolio/116.jpg'%}" class="img-fluid" alt="">

              </div>
              <figcaption class="info-wrap1">
                <h6 class="title"></h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/portfolio/117.jpg'%}" class="img-fluid" alt="">

              </div>
              <figcaption class="info-wrap1">
                <h6 class="title"></h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>

      </div>
    </div>
   </div>
  </section><!-- End Services Section -->
</div>

{% endblock %}
