{% extends 'layouts.html' %}
{% load static %}
{% block title %}
FamilyDog
{% endblock %}
{% block content %}
<!-- ======= hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <div class="carousel-item active" style="background-image: url({% static 'img/hero-carousel/slider1.jpg '%}); width: 100%;">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Vigilant breed assistance taking care of the overall need of the new owner.</h2>
              <p class="animate__animated animate__fadeInUp"></p>

            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image: url({% static 'img/hero-carousel/slider21.jpg '%}); ">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Organic, vegan pet products with human-grade ingredients.</h2>
              <p class="animate__animated animate__fadeInUp"></p>

            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image: url({% static 'img/hero-carousel/slider3.jpg '%})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">FamilyDog offers quality products for a healthier, happier pet.</h2>
              <p class="animate__animated animate__fadeInUp"></p>

            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image: url({% static 'img/hero-carousel/slider41.jpg '%})">
          <div class="carousel-container">
            <div class="container">
              <h3 class="animate__animated animate__fadeInDown">End-to-End funeral services given by our sympathetic and</h3>
              <h1 class="animate__animated animate__fadeInUp">Dedicated Team</h1>

            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image: url({% static 'img/hero-carousel/slider51.jpg '%})">
          <div class="carousel-container">
            <div class="container">
              <h3 class="animate__animated animate__fadeInDown">Dignified funeral services to celebrate honorable lives of your</h3>
              <h1 class="animate__animated animate__fadeInUp">Loved Ones</h1>

            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </div>
</section><!-- End Hero Section -->

<main id="main">

  <!-- ======= Featured Services Section Section ======= -->
  <section id="featured-services">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 box">
          <i class="bi bi-briefcase"></i>
          <h4 class="title"><a href="">Pet Adoption</a></h4>
          <p class="description">The online pet adoption community where people who want to adopt a pet connect with people who need to rehome a pet.</p>
        </div>

        <div class="col-lg-4 box box-bg">
          <i class="bi bi-card-checklist"></i>
          <h4 class="title"><a href="">Pet Products</a></h4>
          <p class="description">All the goods here at FamilyDog, be it Pet Foods, Healthcare Products, Pet Supplies, Grooming Products, to keep your pet in top condition.</p>
        </div>

        <div class="col-lg-4 box">
          <i class="bi bi-binoculars"></i>
          <h4 class="title"><a href="">Pet Funeral</a></h4>
          <p class="description">We respect your emotions and therefore provide you with options of burial funeral service as well as cremation funeral service. </p>
        </div>

      </div>
    </div>
  </section><!-- End Featured Services Section -->

  <!-- ======= Services Section ======= -->
  <section id="services">
    <div class="container" data-aos="fade-up">

      <header class="section-header wow fadeInUp">
        <h3>Services</h3>
        <p>“Our team understands the pain of loss and ensures to provide you with all the support and best of services.”</p>
      </header>
      <div class="container my-5">

        <div class="row">
          <div class="col-md-3 col-6 col-lg-3 col-xs-6">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/breed2.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h6 class="title">Breed Consultation</h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-3 col-6 col-lg-3 col-xs-6">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/breed_selection1.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h6 class="title">Breed and Breeder Selection</h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-3 col-6 col-lg-3 col-xs-6">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/transportation1.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h6 class="title">Transport To Other State</h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-3 col-6 col-lg-3 col-xs-6">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/rehoming.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h6 class="title">End-to-End Puppy Rehoming</h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-3 col-6 col-lg-3 col-xs-6">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/veterinary1.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h4 class="title">Online Veterinary Assistance</h4>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-3 col-6 col-lg-3 col-xs-6">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/vaccination.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h6 class="title">Pet Vaccination</h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-3 col-6 col-lg-3 col-xs-6">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/diet1.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h4 class="title">Diet Consultation</h4>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-3 col-6 col-lg-3 col-xs-6">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/preparation1.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h4 class="title">Dog Show Preparation</h4>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-3 col-6 col-lg-3 col-xs-6">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/ambulance2.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h6 class="title">Deceased Pet Pickup</h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-3 col-6 col-lg-3 col-xs-6">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/carcass.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h6 class="title">Carcass Disposal</h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-3 col-6 col-lg-3 col-xs-6">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/religious.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h6 class="title">Religious Ceremony Of Deceased Pet</h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-3 col-6 col-lg-3 col-xs-6">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/memorial.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h6 class="title">Pet Memorabilia</h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>




      </div>
      <!-- <div class="button">
        <button type="button" class="btn btn-success" name="button"><a href="{% url 'services'%}">View All</a></button>
      </div> -->

    </div>
   </div>
  </section><!-- End Services Section -->
  <!-- ======= About Us Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>About Us</h3>
        <p>FamilyDog is a project started by Prince Gulati, as a Delhi Technological University student in his 6th semester. The project grabbed his attention due to his immense love for his dog Rio and the lack of information available in society.  FamilyDog has served well its clients including some famous personalities for more than three until Prince decided to upgrade his management knowledge and went to Europe for his further education. During his time in Europe, he saw a different kind of pet sector with a different level of breeding, an inclination of pet owners towards organic food for pets, and equal importance. He met various breeders, understood various processes, and explored amazing natural products. He had to come back to India in June 2020 via Vande Bharat Mission from Stockholm, Sweden where he was working as a Business Analyst. Putting everything together and taking it further, FamilyDog 2021 is reborn.  </p>
      </header>

      <div class="row about-cols">

        <div class="col-md-4 " data-aos="fade-up" data-aos-delay="100">
          <div class="about-col">
            <div class="img">
              <img src="{% static 'img/mission1.jpg'%}" alt="" class="img-fluid">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Mission</a></h2>
            <p>
              To provide Dignified Funeral Services, Organic Products, and Reduce the Mortality Rate of Puppies.
            </p>
          </div>
        </div>

        <div class="col-md-4 " data-aos="fade-up" data-aos-delay="200">
          <div class="about-col">
            <div class="img">
              <img src="{% static 'img/plan1.jpg'%}" alt="" class="img-fluid">
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Plan</a></h2>
            <p>
              To Work with Ethical Breeders, source Organic Ingredients from the world, and Deliver End-2-End Pet Funeral Solutions.

          </div>
        </div>

        <div class="col-md-4 " data-aos="fade-up" data-aos-delay="300">
          <div class="about-col">
            <div class="img">
              <img src="{% static 'img/vision1.jpg'%}" alt="" class="img-fluid">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Vision</a></h2>
            <p>
              Our Vision thrives to add Value to Society and give our Amazing Pets the Best of Products and Services they Deserve.

            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End About Us Section -->
  <!-- ======= Call To Action Section ======= -->
  <!-- <section id="call-to-action">
    <div class="container text-center" data-aos="zoom-in">
      <h3>Call To Action</h3>
      <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a class="cta-btn" href="#">Call To Action</a>
    </div>
  </section><!-- End Call To Action Section -->

  <!-- ======= Skills Section ======= -->
  <!-- End Skills Section -->

  <!-- ======= Facts Section ======= -->
  <section id="facts">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>Facts</h3>

      </header>

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
          <p>Clients</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="421" data-purecounter-duration="1" class="purecounter"></span>
          <p>Projects</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="1364" data-purecounter-duration="1" class="purecounter"></span>
          <p>Hours Of Support</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="38" data-purecounter-duration="1" class="purecounter"></span>
          <p>Hard Workers</p>
        </div>

      </div>



    </div>
  </section><!-- End Facts Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="services">
    <div class="container" data-aos="fade-up">

      <header class="section-header wow fadeInUp">
        <h3>Our Gallery</h3>

      </header>
      <div class="container my-5">

    <div class="row" data-aos="fade-up" data-aos-delay="200">
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="{% static 'img/portfolio/101.jpg'%}" class="img-fluid" alt="">

          </div>
          <figcaption class="info-wrap1">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="{% static 'img/portfolio/102.jpg'%}" class="img-fluid" alt="">

          </div>
          <figcaption class="info-wrap1">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="{% static 'img/portfolio/103.jpg'%}" class="img-fluid" alt="">

          </div>
          <figcaption class="info-wrap1">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="{% static 'img/portfolio/104.jpg'%}" class="img-fluid" alt="">

          </div>
          <figcaption class="info-wrap1">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="{% static 'img/portfolio/105.jpg'%}" class="img-fluid" alt="">

          </div>
          <figcaption class="info-wrap1">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="{% static 'img/portfolio/106.jpg'%}" class="img-fluid" alt="">

          </div>
          <figcaption class="info-wrap1">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="{% static 'img/portfolio/107.jpg'%}" class="img-fluid" alt="">

          </div>
          <figcaption class="info-wrap1">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="{% static 'img/portfolio/108.jpg'%}" class="img-fluid" alt="">

          </div>
          <figcaption class="info-wrap1">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>

      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="{% static 'img/portfolio/113.jpg'%}" class="img-fluid" alt="">

          </div>
          <figcaption class="info-wrap1">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="{% static 'img/portfolio/114.jpg'%}" class="img-fluid" alt="">

          </div>
          <figcaption class="info-wrap1">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="{% static 'img/portfolio/115.jpg'%}" class="img-fluid" alt="">

          </div>
          <figcaption class="info-wrap1">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="col-md-6 col-6 col-lg-3">
        <figure class="card card-prduct">
          <div class="img-wrap" >
            <img src="{% static 'img/portfolio/116.jpg'%}" class="img-fluid" alt="">

          </div>
          <figcaption class="info-wrap1">
            <h6 class="title"></h6>
            <div class="action-wrap">
              <div class="price-wrap h5">
                <span class="price=-new"></span>
              </div>
            </div>
          </figcaption>
        <figure>
      </div>
      <div class="button">
        <button type="button" class="btn btn-success btn-1 btn-md" name="button"><a href="{% url 'gallery'%}">View All</a></button>
      </div>


      <!-- <div class="col-lg-3 col-md-6 col-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <figure>
            <img src="{% static 'img/portfolio/16.jpeg'%}" class="img-fluid" alt="">
            <a href="{% static 'img/portfolio/16.jpeg'%}" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Web 1"><i class="bi bi-plus"></i></a>
          </figure>
        </div>
      </div> -->
    </div>
    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Our Clients Section ======= -->
  <!-- <section id="clients">
    <div class="container" data-aos="zoom-in">

      <header class="section-header">
        <h3>Our Clients</h3>
      </header>

      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="{% static 'img/clients/client-1.png'%}" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client-2.png'%}" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client-3.png'%}" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client-4.png'%}" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client-5.png'%}" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client-6.png'%}" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client-7.png'%}" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/client-8.png'%}" class="img-fluid" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Our Clients Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="section-bg">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>Testimonials</h3>
      </header>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'img/Harpreet_Singh.jpeg'%}" class="testimonial-img" alt="">
              <h3>Harpreet Singh</h3>
              <h4>Skeleton Dance Group</h4>
              <p>
                <img src="{% static 'img/quote-sign-left.png'%}" class="quote-sign-left" alt="">
                First bought Broady in 2017 and then Bunny in 2020 from FamilyDog and the rest you can see on our Youtube channel.
                <img src="{% static 'img/quote-sign-right.png'%}" class="quote-sign-right" alt="">
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'img/Archis_Patil.jpeg'%}" class="testimonial-img" alt="">
              <h3>Archis Patil</h3>
              <h4>Freestyle footballer (4 World records)</h4>
              <p>
                <img src="{% static 'img/quote-sign-left.png'%}" class="quote-sign-left" alt="">
                I got the son of Champion Duke from FamilyDog back in 2018. I spoke to Prince,  saw a picture of “Jordan” and took a flight from Mumbai and came to Delhi. Prince has great expertise when it comes to dogs and his industry knowledge is unmatchable. Over the call itself, I felt that this is the guy whom I can rely upon if I want to ever have a puppy. He took the best care of Jordan and shipped him to Mumbai after a few days.
                <img src="{% static 'img/quote-sign-right.png'%}" class="quote-sign-right" alt="">
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'img/Samay.jpg'%}" class="testimonial-img" alt="">
              <h3>Samay</h3>
              <h4>Music composer</h4>
              <p>
                <img src="{% static 'img/quote-sign-left.png'%}" class="quote-sign-left" alt="">
                We got Fluffy from Prince back in 2015 from his Rajouri Garden shop and since then we share a great relationship with him. My sister went to the shop and Prince explained everything that a new owner should be knowing. He has a huge product range to offer and made all the wishes true for a first time Dog owner. I can’t thank him enough.
                <img src="{% static 'img/quote-sign-right.png'%}" class="quote-sign-right" alt="">
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'img/Arihant_Jain.jpg'%}" class="testimonial-img" alt="">
              <h3>Arihant Jain</h3>
              <h4>Photographer</h4>

              <p>
                <img src="{% static 'img/quote-sign-left.png'%}" class="quote-sign-left" alt="">
                I saw a video of Champion American bully “Duke” on Youtube and since that time only I decided that I wanted a puppy from FamilyDog. I spoke to Prince and everything was smooth and genuine. He patiently answered all my queries and supported me to select the color and puppy of my choice and even shipped the puppy to me. Now, Oscar is my lifeline and I got a tattoo too of Oscar.  I am touch with Prince since ever then and I just want to thank him from the bottom of my heart for this amazing boy!!
                <img src="{% static 'img/quote-sign-right.png'%}" class="quote-sign-right" alt="">
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'img/Aaditya_Kumar.jpg'%}" class="testimonial-img" alt="">
              <h3>Aaditya Kumar</h3>
              <h4>Builder and Property consultant</h4>
              <p>
                <img src="{% static 'img/quote-sign-left.png'%}" class="quote-sign-left" alt="">
                Prince is my dear friend. I got both of my dogs from FamilyDog and even suggested to numerous people about the excellent service and knowledge he brings to the table when it comes to dogs. My friend got two Shihtzu and one Pekingese from him, my niece got her Labrador from him, my cousin got his Pitbull from him and a lot of people I know who got their dogs from Prince and FamilyDog. If you want to listen to a highly educated dog lover, breeder, and expert,  you should talk to Prince Gulati!
                <img src="{% static 'img/quote-sign-right.png'%}" class="quote-sign-right" alt="">
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'img/Mohit.jpg'%}" class="testimonial-img" alt="">
              <h3>Mohit</h3>
              <h4>Head Chef, Bulgari Hotel, Dubai</h4>
              <p>
                <img src="{% static 'img/quote-sign-left.png'%}" class="quote-sign-left" alt="">
                A friend recommended FamilyDog when we were so confused about so many different breeds and different prices quoted to me. It was getting hectic before I spoke to Prince Gulati. He explained everything patiently about the type of Dog my family should get being a 1st-time owner. Not only this, we were lucky enough to get his personal dog Rio’s son. I didn’t see any adorable puppy other than that and it was love at first sight. “Bolt” entered my Family and our lives and things have never been the same. Now, I share a different relationship with Prince, and thanking him would be a small word for the bundle of joy he delivered to our lives.
                <img src="{% static 'img/quote-sign-right.png'%}" class="quote-sign-right" alt="">
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'img/Aditya_Madan.jpg'%}" class="testimonial-img" alt="">
              <h3>Aditya Madan</h3>
              <h4>DJ aka “PRFCT”</h4>
              <p>

                <img src="{% static 'img/quote-sign-left.png'%}" class="quote-sign-left" alt="">
                We got Cooper from FamilyDog back in 2015 from their Rajouri Garden store. I waited for Cooper for almost 2 weeks as advised by  Prince. He informed me everything about the breed and asked me to wait for the best puppy as there was no appropriate puppy available. Cooper is the best Golden Retriever in the whole world and the best thing happened to me and my family. He just rocked our lives without playing a beat!
                <img src="{% static 'img/quote-sign-right.png'%}" class="quote-sign-right" alt="">
              </p>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

  <!-- ======= Team Section ======= -->
  <section id="team">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3>Team</h3>
        <p>We listen, we discuss, we advise and develop. We love to learn and use latest technologies.</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 col-6">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'img/Prince_Gulati.jpg'%}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Prince Gulati</h4>
                <span>Founder</span>
                <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
              </div>
            </div>
            <h4>Prince Gulati</h4>
            <span>Founder</span>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-6">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static 'img/Sarthak_Barwa.jpg'%}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Sarthak Barwa</h4>
                <span>Marketing</span>
                <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
              </div>
            </div>
            <h4>Sarthak Barwa</h4>
            <span>Marketing</span>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-6">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <img src="{% static 'img/Vinod.jpg'%}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Vinod</h4>
                <span>Funeral Service Administrator</span>
                <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
              </div>
            </div>
            <h4>Vinod</h4>
            <span>Funeral Service Administrator</span>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-6">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <img src="{% static 'img/Ishaan_Nagpal.jpg'%}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Ishaan Nagpal</h4>
                <span>Full Stack Developer</span>
                <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
              </div>
            </div>
            <h4>Ishaan Nagpal</h4>
            <span>Full Stack Developer</span>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h3>Contact Us</h3>

      </div>

      <div class="row contact-info">

        <div class="col-md-4">
          <div class="contact-address">
            <i class="bi bi-geo-alt"></i>
            <h3>Address</h3>
            <address>
              <div class="row">
                <div class="col-lg-6 col-6">
                  G-23/1, Rajouri Garden, <br>
                  New Delhi-110027 <br><br>
                </div>
                <div class="col-lg-6 col-6">
                  30, Madan Park, <br>
                  East Punjabi Bagh, <br>
                  New-Delhi-110026 <br>
                </div>

              </div>
            </address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="bi bi-phone"></i>
            <h3>Phone Number</h3>
            <p><a href="tel:+919711725747">+919711725747</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="bi bi-envelope"></i>
            <h3>Email</h3>
            <p><a href="mailto:familydog.petsitting@gmail.com">familydog.petsitting@gmail.com</a></p>
          </div>
        </div>

      </div>

      <div class="form" >
        <form action="" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="form-group col-md-6">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div><br>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div><br>
          </div><br>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div><br>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div><br>
          <div class="button"><button class="btn btn-success bcontact" type="submit">Send Message</button></div>
        </form>
      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->
{% endblock %}
