{% extends 'layouts.html' %}
{% load static %}
{% block title %}
Services
{% endblock %}
{% block content %}
<div class="padding">
  <!-- ======= Services Section ======= -->
  <section id="services">
    <div class="container" data-aos="fade-up">

      <header class="section-header wow fadeInUp">
        <h3>Featured Services</h3>
        <p>“Our team understands the pain of loss and ensures to provide you with all the support and best of services.”</p>
      </header>
      <div class="container my-5">

        <div class="row">
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/breed2.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h6 class="title">Breed Consultation</h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/breed_selection1.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h6 class="title">Breed and Breeder Selection</h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/transportation1.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h6 class="title">Transport To Other State</h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/rehoming.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h6 class="title">End-to-End Puppy Rehoming</h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/veterinary1.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h4 class="title">Online Veterinary Assistance</h4>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/vaccination.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h6 class="title">Pet Vaccination</h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/diet1.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h4 class="title">Diet Consultation</h4>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/preparation1.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h4 class="title">Dog Show Preparation</h4>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/ambulance2.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h6 class="title">Deceased Pet Pickup</h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/carcass.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h6 class="title">Carcass Disposal</h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/religious.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h6 class="title">Religious Ceremony Of Deceased Pet</h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>
          <div class="col-md-6 col-6 col-lg-3">
            <figure class="card card-prduct">
              <div class="img-wrap" >
                <img src="{% static 'img/memorial.jpg'%}" >
              </div>
              <figcaption class="info-wrap">
                <h6 class="title">Pet Memorabilia</h6>
                <div class="action-wrap">
                  <div class="price-wrap h5">
                    <span class="price=-new"></span>
                  </div>
                </div>
              </figcaption>
            <figure>
          </div>

      </div>
    </div>
   </div>
  </section><!-- End Services Section -->
</div>

{% endblock %}
