{% extends 'layouts.html' %}
{% load static %}
{% block title %}
Team
{% endblock %}
{% block content %}
<div class="padding">
  <!-- ======= Team Section ======= -->
  <section id="team">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3>Team</h3>
        <p>We listen, we discuss, we advise and develop. We love to learn and use latest technologies.</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 col-6">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'img/Prince_Gulati.jpg'%}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Prince Gulati</h4>
                <span>Founder</span>
                <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
              </div>
            </div>
            <h4>Prince Gulati</h4>
            <span>Founder</span>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-6">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static 'img/Sarthak_Barwa.jpg'%}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Sarthak Barwa</h4>
                <span>Marketing</span>
                <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
              </div>
            </div>
            <h4>Sarthak Barwa</h4>
            <span>Marketing</span>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-6">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <img src="{% static 'img/Vinod.jpg'%}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Vinod</h4>
                <span>Funeral Service Administrator</span>
                <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
              </div>
            </div>
            <h4>Vinod</h4>
            <span>Funeral Service Administrator</span>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-6">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <img src="{% static 'img/Ishaan_Nagpal.jpg'%}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Ishaan Nagpal</h4>
                <span>Full Stack Developer</span>
                <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
              </div>
            </div>
            <h4>Ishaan Nagpal</h4>
            <span>Full Stack Developer</span>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->

</div>

{% endblock %}
